Source: python-jpegtran
Maintainer: Johannes Baiter <johannes.baiter@gmail.com>
Section: python
Priority: optional
Build-Depends:
 debhelper (>= 9),
 dh-python,
 python-all-dev,
 python-setuptools,
 python-cffi (>= 0.8),
 libjpeg8-dev,
Standards-Version: 3.9.5

Package: python-jpegtran
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Description: Extremly fast, (mostly) lossless JPEG transformations
